<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 선언된 Mapper.xml에서 member라는 이름으로 
	해당 객체에 접근항 사용 가능하다. -->
	<typeAliases>
		<typeAlias alias="company" type="com.internship.onboarding.vo.Company"/>
		<typeAlias alias="ann" type="com.internship.onboarding.vo.Announcement"/>
	</typeAliases>
</configuration>
